body
{
    background-color: rgb(198, 196, 196);
    color: black;
}

/* .pro-info:hover
{
    transition: 1s;
    background-color: aqua;
} */

.nr-pic-cont
{
    background-image: url(./imgs/Project-3/nr-p3.webp);
    background-size: fill;
    background-repeat: no-repeat;
    min-height: 59vh;
}

/* .g-1
{
    grid-area: 2/1/2/3;
} */

.bottom-app
{
    transition: transform 1s ease-out;
}

.bottom-app:hover
{
    z-index: 5;
    transform: scale(1.1);
}

.cs-txt
{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}