:root
{
    --nav-color: black;
    --inverted-color: white;
}

body
{
    background-color: white;
    color: var(--page-color);
}

/* .pro-info:hover
{
    transition: 1s;
    background-color: aqua;
} */

/* Title cont */

.ar-cont
{
  width: 40px;
  position: absolute;
  bottom: 1%;
  background-color: rgb(208, 208, 208);
  border-radius: 5px;
  opacity: 50%;
  transition: 0.5s;
  padding: 0.5%;
  line-height: 0;
}

.ar-cont:hover
{
  opacity: 100%;
}

.ar-cont img
{
  width: 100%;
}

.nr-pic-cont
{
    background-image: url(./imgs/Project-3/nr-p3.webp);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 59vh;
}

/* .g-1
{
    grid-area: 2/1/2/3;
} */

.bottom-app
{
    transition: transform 1s ease-out;
}

.bottom-app:hover
{
    z-index: 5;
    transform: scale(1.1);
}

.cs-txt
{
    text-align: center;
    font-size: 50px;
}