:root
{
    --nav-color: black;
    --inverted-color: white;
    --page-color: grey;
}

.docu-cont
{
    position: relative;
    left: 42.5%;
    width: 50%;
    height: 70vh;
}

.docu
{
    width: 100%;
    height: 100%;
}