/* CSS for Project-2 Page */

body
{
  background-image: url(./imgs/Project-2/covers-images/CTB\ BACKGROUND.webp);
  background-size: contain;
  color: #fff;
}

.ps-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}