:root{
  --hero-color : #fafafa;
  --sub-hero-color: #ccc;
  --side-padding-default: 10%
}

@keyframes appear
{
  from
  {
    opacity: 0;
    scale: 0.5;
  }
  to
  {
    opacity: 1;
    scale: 1;
  }
}

@keyframes left-appear
{
  from
  {
    opacity: 0;
    transform: translateX(-100px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes right-appear
{
  from
  {
    opacity: 0;
    transform: translateX(100px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes down-appear
{
  from
  {
    transform: translateY(200px);
  }
  to
  {
    transform: translateY(0px);
  }
}

@keyframes bottom-appear
{
  from
  {
    scale: 0.5;
  }
  to
  {
    scale: 1;
  }
}

@keyframes bottom-disappear
{
  from
  {
    scale: 1;
  }
  to
  {
    scale: 0.1;
  }
}

@keyframes text-reveal
{
  to
  {
    background-size: 100% 100%;
  }
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face
{
  font-family: myFontNormal;
  src: url(./fonts/ITC\ Avant\ Garde\ CE\ Gothic\ Book\(1\).ttf)
}

@font-face
{
  font-family: myFontBold;
  src: url(./fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.ttf);
}

@font-face
{
  font-family: myFontDemi;
  src: url(./fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Demi.ttf);
}

body
{
  /* background-image: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
  background-color: rgb(10, 14, 22);
  height: 100vh;
  font-family: myFontNormal;
  font-weight: 200;
  color: white;
}

a
{
  text-decoration: none;
}

ul
{
  list-style-type: none;
}

/* Header */

.main-header
{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1% 5%;
  z-index: 100;
}

.h-btn
{
  position: absolute;
  top: 50px;
  left: 50px;
}

.np-btn
{
  position: absolute;
  top: 50px;
  right: 50px;
}

.logo-cont
{
  height: 10%;
  width: 5%;
}

.logo-img
{
  width: 100%;
}

.menu-list
{
  list-style-type: none;
}

.menu-list li
{
  display: inline-block;
  padding: 0 10px;
}

.menu-list li a
{
  color: white;
  opacity: 40%;
  transition: 0.3s;
}

.menu-list li a:hover
{
  opacity: 100%;
}

/* Footer */

.footer
{
  display: inline;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  /* width: 100%; */
  padding: 0 0 5% 5%;
  z-index: 1;
}

.f-socials
{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.f-logo
{
  font-size: 25px;
  color: var(--sub-hero-color);
  cursor: pointer;
  opacity: 40%;
}

.f-logo:hover
{
  opacity: 100%;
}

.f-sound
{
  opacity: 40%;
}

.f-text
{
  color: var(--sub-hero-color);
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  display: inline;
}

/* Photo Slider */

.slider
{
    /* padding: 5% 25%; */
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    /* margin: auto; */
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.list
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: 100%;
    transition: 1s;
}

.list img
{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: contain;
}

.buttons
{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;

}

/* Blob */

.main
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  z-index: -2;
}

.blob
{
  position: absolute;
  top: 50;
  width: 600px;
  height: 400px;
}

.blob:nth-child(2)
{
  filter: blur(50px);
}

p{
  background-color: white;
  color: transparent;
  -webkit-background-clip: text;
  mix-blend-mode: difference;
}

.b-txt
{
  /* display: block; */
  font-family: myFontBold;
  font-weight: lighter;
  text-align: center;
  background-image: linear-gradient(#e66465, #9198e5);
  color: transparent;
  -webkit-background-clip: text;
  mix-blend-mode: difference;
  font-size: 80px;
  z-index: 2;
  text-transform: capitalize;
}

/* About Me */

.abt-me
{
  min-height: 100vh;
  padding: 15% 15% 10% 15% ;
}

.abt-heading
{
  color: var(--hero-color);
  padding-bottom: 5%;
}

.abt-txt
{
  font-size: 64px;
  font-weight: 600;
  /* color: whitesmoke; */
  color: hsl(0 0% 100% /0.3);
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  animation: text-reveal linear forwards;
  animation-timeline: view(80% 5%);
  display: inline;
}

/* What I Do */

.wid-content
{
  padding: 5%  0;
}

.wid-title
{
  font-size: 20px;
  color: var(--sub-hero-color);
  margin-bottom: 3%;
  padding-left: 10%;
}

.wid-list
{
  width: 100%;
  animation: left-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.wl-item
{
  font-size: 60px;
  color: var(--hero-color);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-style: solid none;
  padding: 1% 0 1% 10%;
  cursor: pointer;

  background-position: right;

  animation: left-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 15%;
}

.wl-item:hover
{
  color: black;
  /* background-color: #eb5939; */
  /* transition: background-color 1500ms cubic-bezier(.25, 1, .30, 1); */

  background: linear-gradient(to right, #eb5939 50%,  rgb(10, 14, 22) 50%)  left;
  background-size: 200%;
  transition: 1s ease-out;
}

/* Projects Banner */

.pro-banner
{
  padding: 5% 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.pb
{
  display: inline;
  font-size: 150px;
}

.bnr-l
{
  animation: left-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.bnr-r
{
  animation: right-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Projects */

.projects
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;

  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.pro
{
  animation: bottom-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  transition: transform 0.5s;
  transition: opacity 1s ;
}

.pro:hover
{
  opacity: 100%;
  transform: scale(1.1);
}

.pro-img-cont
{
  display: flex;
  overflow-x: auto;
  border-radius: 0.5rem;
}

.pro-img
{
  max-width: 100%;
  flex: 1 0 100%;
  object-fit: contain;
}

.pro-title
{
  font-family: myFontDemi;
  font-size: 24px;
  padding: 5px 0;
  font-weight: 500;
}

/* Hero */

.hero
{
  /* text-align: center; */
  font-family: myFontNormal;
  font-weight: 100;
  font-size: 26px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 12% 0;

  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.hero-content
{
  display: flex;
  flex-direction: column;
  color: var(--sub-hero-color);
  display: inline-block;
}

.hero *
{
  text-align: left;
}

.hero-name
{
  font-size: 115px;
  color: var(--hero-color);
  font-family: myFontBold;
  font-weight: 700;
}

.hero-subtitle
{
  padding: 5px 0 3px 0;
  font-style: italic;
  font-size: 22px;
  /* color: #525252; */
}

.hero-btn
{
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.1);
  color: var(--sub-hero-color);
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  margin-top: 20px;
}

/* Photo Container */

.ph-cont
{
  display: grid;
  gap: 10px;
  margin: 10px;
  margin-left: 20px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px 100px;
}

.gd-it
{
  background-color: white;
  border-radius: 10px;
}

.gd-it-1
{
  grid-area: 1/1/1/4;
  background-image: url(https://media.cnn.com/api/v1/images/stellar/prod/190430171751-mona-lisa.jpg?q=w_2000,c_fill);
  background-size: contain;
}

.gd-it-2
{
  grid-area: 2/1/4/4;
  background-image: url(https://media.timeout.com/images/106006274/750/562/image.jpg);
  background-size:cover;
}

.gd-it-3
{
  grid-area: 4/1/6/3;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScSMXRPIjLr7OApPGQmsw50OjiSWN8tDPCww&s);
  background-size: cover;
}

.gd-it-4
{
  grid-area: 4/3/6/3;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmkvRP3BJKARFjku2VDvpabBaxBR4AytENmw&s);
  background-size: cover;
}

.gd-it-5
{
  grid-area: 1/4/3/6;
  background-image: url(https://static.standard.co.uk/s3fs-public/thumbnails/image/2019/03/05/11/sei26139543-1-0.jpg?quality=75&auto=webp&width=960);
  background-size: cover;
}

.gd-it-6
{
  grid-area: 3/4/4/6;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcExTcO5vg3X3bjhjlT5kfrIn9VtSuJMHRug&s);
  background-size: cover;
}

.gd-it-7
{
  grid-area: 4/4/6/6;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUmH5AcYfixNq8Tbeth26ufjTqpqDMNJkg_Q&s);
  background-size: cover;
}



/* Project Page */

.proj-info
{
  font-size: 18px;
}

.proj-hero
{
  /* min-height: 100vh; */
  padding: 7% 15% 5% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj-main
{
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  grid-row-gap: 50px;
  grid-template:
        "Area"
        "Area" / .618fr 1fr;
  color: white;
}

.proj-heading
{
  color: white;
  font-size: 28px;
  /* grid-area: 1/1/3/1; */
}

.proj-grid
{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  color: white;
}

.grid-vid-cont
{
  grid-area: 3/1/3/3;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.grid-title
{
  font-family: myFontBold;
}

/* Gallery */

.gallery
{
  padding: 5% 0;
}

.ph-g
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.gal-img
{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.g-li
{
  animation: left-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.g-ri
{
  animation: right-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.g-l
{
  grid-area: 3/1/3/3;
  /* padding: 0% 30% 5% 30%; */
}

.g-last
{
  animation: down-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* Gallery 2 */

.bottom-app
{
  box-shadow: 5px 5px 3px 5px rgb(177, 177, 177);
  animation: down-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

/* Project last */

.proj-pics
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 15%;
}

.proj1-pics
{
  background-image: url(./imgs/Project-1/proj1-pics-bg.jpg);
  background-size: contain;
}

.img-cont
{
  padding: 3% 0;
  height: 100vh;
}

.proj-img
{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
}

.pic-title
{
  padding: 5% 0 3% 0;
  font-size: 60px;
}

/* Side Bar */

.side-bar
{
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 2%;
  top: 30%;
  z-index: 100;
}

.sb-heading
{
  padding-bottom: 10%;
}

.side-bar a
{
  text-decoration: none;
  color: white;
  padding-bottom: 5%;
  opacity: 40%;
  transition: 0.4s;
}

.side-bar a:hover
{
  opacity: 100%;
}

/*  */
.proj-title
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4% 5% 0 5%;

  animation: bottom-disappear linear;
  animation-timeline: view();
  animation-range: cover 60%;
}

.p1h-txt
{
  padding: 5px 0;
}

.pt1
{
  font-size: 115px;
  color: whitesmoke;
  text-align: center;
  padding-top: 2%;
}

.title-img-cont
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  min-height: 100vh;

  animation: bottom-appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

.title-img
{
  width: 100%;
  border-radius: 10px;
}

.ti-1
{
  background-image: url(./imgs/Project-1/pro1-home.webp);
  background-size: cover;
}

.proj-ov
{
  padding: 0 26%;
}

.p1-heading
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Project Info */

.pro-info
{
  display: flex;
  gap: 15%;
  padding: 10% 15%;
}

.pi-left
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 5px;
}

.pi-left .proj-heading
{
  font-size: 18px;
}

.pi-right .proj-heading
{
  padding-bottom: 20px;
}

.p1-info
{
  padding: 5% 15%;
}

.p1-info .proj-heading
{
  padding: 50px 0 20px 0;
}

.proj-list
{
  width: 250px;
}

/* Narrow Video */

.nr-vid-cont
{
  width: 100%;
  min-height: 50vh;
  max-height: 65vh;
  background-color: white;
  overflow: hidden;
  opacity: 75%;
}

.nr-vid
{
  filter: grayscale(100%);
}

/* P1 Cards Section */

.p1-cards-cont
{
  display: flex;
  flex-direction: column;
  padding: 5% 15%;
  gap: 50px;
}

.p1-cards-cont span
{
  display: flex;
  gap: 50px;
}

.p1-card{
  background-color: rgb(250, 250, 250, 0.2);
  padding: 2% 2%;
  border-radius: 20px;
  height: 200px;
  border: rgb(255, 255, 255, 0.3) 2px solid;
}

.card-heading
{
  padding-bottom: 20px;
  font-size: 28px;
}

.card-info
{
  color: rgb(241, 241, 241);
}

/* Button */
.button {
  height: 40px;
  width: auto;
  padding: 1% 2%;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid white;
  overflow: hidden;
  border-radius: 30px;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
}

.btn-txt {
  z-index: 1;
  /* font-weight: 800; */
  /* letter-spacing: 4px; */
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #ffffff;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #ffffff;
  color: black;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

/* Project 2 */

.p2-pt1
{
  font-size: 70px;
  text-align: center;
  padding-top: 2%;
}

.pt-2
{
  font-size: 125px;
}

.nr-pic-cont
{
  width: 100%;
  min-height: 50vh;
  max-height: 65vh;
  background-color: white;
  overflow: hidden;
  opacity: 75%;
}

.nr-pic
{
  width: 100%;
  position: relative;
  bottom: 200px;
}


.body-pj2
{
  background-image: url(./imgs/Project-2/covers-images/CTB\ BACKGROUND.webp);
  background-size: contain;
  color: black;
}

.tic-cont
{
  display: block;
}